@import "./../../../sass/variables.scss";

.todos {
  width: 55rem;
  max-width: 100%;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  position: relative;
  margin-bottom: 20rem;

  .check-icon {
    position: absolute;
    top: 2rem;
    left: 2.2rem;
    cursor: pointer;
  }
  &__input {
    width: 100%;
    padding: 2rem;
    padding-left: 7rem;
    font-size: 2.5rem;
    outline: none;
    border: 0.05rem solid darken($color: $app-background-color, $amount: 10%);
    &::placeholder {
      color: lighten($color: $actions-text-color, $amount: 40%);
      font-style: italic;
    }
  }
}
